<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <p><span class='uit-drop'><span class='uit-drop__inner'>W</span></span>hether they bring the Stanley Cup back to The Strip or not, The Vegas Golden Knights have already exceeded expectations. A sports-starved city, after countless promises of NBA and MLB teams, the Knights were viewed more as an experiment than a team that was meant to instantly contend for glory.</p>

            <p>Las Vegas has remained one of the largest cities in the US to lack a major sports team. The closest Las Vegans had gotten was when Utah Jazz came in 1983 for 11 “home” games. That was until the Golden Knights broke ice in the desert.</p>

            <p>They won their first game against the Dallas Stars back in October and haven’t looked back. Record after record for an expansion team fell by the wayside. Vegas had waited too long for this side to do it any other way.</p>
            <h3 class='uit-subhead'>
                <span class='uit-subhead__inner'>How does the Knights inaugural season compare to other NHL expansion teams?</span>
            </h3>

            <p>Historically, NHL expansion teams struggle in their first season and more often than not place bottom in their conference. The only exceptions are the expansion teams of 1967 who were all placed into their own additional Western conference. Guaranteeing play-off berths for four of the six newbies with one making the Stanley Cup final.</p>

            <p>The Knights, however, weren’t promised anything. Yet their incredible form has not only seen them win the Pacific Division title, but they’re unique in being the only true expansion team to make the playoffs in their inaugural season.</p>

            <p>Unsurprisingly this means they’ve had the best win percentage of any expansion team’s first season. The 2nd closest are a whopping 23% off the Knights, as no amount of Disney magic could help the Mighty Ducks of Anaheim in their first season.</p>

            <div class='uit-table uit-table--hockey-comparison' data-type='hockey'>
                <h3 class='uit-table__header'>The Golden Knights are icebreakers</h3>
                <p class='uit-table__description'>Inaugural season win percentages for NHL expansion teams.<br /> Excluding 1967 Western expansion conference sides and any franchises merged from rival hockey leagues</p>
            </div>

            <h3 class='uit-subhead'>
                <span class='uit-subhead__inner'>How does the Knights inaugural season compare to expansion teams from other sports?</span>
            </h3>

            <p>Within their league the Golden Knights come out chainmail helmet and shoulder plates above their associates. However, their story isn’t limited to the ice. Compared to the best starters from other major US sports leagues their story becomes even more remarkable.</p>

            <h3 class='uit-table__header'>Others sports strike-out, technical foul and fumble</h3>
            <p class='uit-table__description'>Inaugural season win percentages for other major US sports leagues.<br /> Excluding franchises merged from rival leagues</p>

            <div class='uit-tables'>
                <div class='uit-table uit-table--baseball-comparison' data-ref='62.2' data-type='baseball'>
                    <h3 class='uit-table__header'>MLB</h3>
                </div>

                <div class='uit-table uit-table--basketball-comparison' data-ref='62.2' data-type='basketball'>
                    <h3 class='uit-table__header'>NBA</h3>
                </div>

                <div class='uit-table uit-table--football-comparison' data-ref='62.2' data-type='football'>
                    <h3 class='uit-table__header'>NFL</h3>
                </div>
            </div>

            <h3 class='uit-subhead'>
                <span class='uit-subhead__inner'>So the Knights are unique then?</span>
            </h3>

            <p>Almost. Other expansion teams from the Big Four might struggle, when compared to the Knights, but in MLS it's a different story.</p>

            <p>Chicago Fire, Houston Dynamo, Seattle Sounders and Atlanta United all achieved instant success by reaching the playoffs in their first seasons as clubs. Fire and Dynamo actually went further and brought home the MLS Cup in their inaugural season. To be fair to the Knights, because NHL has way less in common with the MLS, this isn't exactly a like-for-like comparison.</p>

            <p>While MLS does have a similar process of inducting new teams into their league, there is one telling difference: the importance of expansion drafts. Let's take the most recent MLS success story in Atlanta United. They drafted five players in their expansion draft, three of which were instantly traded and the other two are now on loan at minor league soccer clubs.</p>

            <p>The simple reason is that MLS clubs have a humongous global talent pool at their disposal. The best soccer players tend to ply their trade in Europe and South America. Top players can be signed freely in less regulated foreign transfer markets. As for NHL, the best hockey players are already there. Not only does this make MLS an unfair comparison, it also makes the Knights success even better. They had to fend on the scraps of the established boys.</p>

            <h3 class='uit-subhead'>
                <span class='uit-subhead__inner'>Is this a fluke or are they setup for an instant dynasty?</span>
            </h3>

            <p>Hockey is a sport where a strong goalie can make a big difference and the Golden Knights have one of the best in Marc-André Fleury. His impressive .927 save percentage makes you question why the Penguins would ever let the three-time Stanley Cup champion go in the expansion draft. The answer is that, at 33 years old, he's not as sprightly as he used to be. Meaning the Golden Knights might have to replace this season's western all-star goalie sooner than later.</p>

            <p>The rest of the roster follows a similar pattern of older or fringe-players who were given a second chance in Nevada. Take Center William Karlsson for example, this season he'a scored more regular season points for Vegas than he ever did in his 2 and a bit years with the Blue Jackets. Karlsson is far from the only one on this redemption path, greater romanticising their journey as underdogs.</p>

            <p>Whether these players regress to their previous levels or not will become obvious in how they follow up this phenomenal opening season. No major US sports expansion team has won the championship in their inaugural season but achieving the heights of the sport early on isn't impossible.</p>

            <div class='uit-charts'>
                <div class='uit-chart uit-chart--diamondbacks' data-type='diamondbacks'>
                    <h3 class='uit-table__header'>Arizona Diamondbacks</h3>
                    <p class='uit-table__description'>Not only did the Diamondbacks become the first MLB expansion team to make the playoffs in their second season, they became the fastest expansion team to win the World Series. Their forth season saw Arizona win the World Series against a Yankee side that were looking for their 4th Commissioner's Trophy in a row.</p> 
                </div>

                <div class='uit-chart uit-chart--bucks' data-type='bucks'>
                    <h3 class='uit-table__header'>Milwaukee Bucks</h3>
                    <p class='uit-table__description'>An incredibly promising start for the Bucks, led by Kareem Adbul-Jabbar they swept the Baltimore Bullets in the NBA final in only their 3rd season as a franchise. They nearly added a second in six season until they lost to the Celtics in Game 7. A few seasons later, Kareem left and have since struggled to meet the highs of those early years.</p> 
                </div>

                <div class='uit-chart uit-chart--marlins' data-type='marlins'>
                    <h3 class='uit-table__header'>Florida Marlins</h3>
                    <p class='uit-table__description'>The Flordia Marlins (now just the Miami Marlins) made steady progress in their first four seasons until they unexpectedly won the World Series in 1997. Something that has stayed in the Marlins' DNA. They've only reached the playoffs twice, they've won the World Series twice.</p> 
                </div>

                <div class='uit-chart uit-chart--storm' data-type='storm'>
                    <h3 class='uit-table__header'>Seattle Storm</h3>
                    <p class='uit-table__description'>Storm's first two seasons were rough with a 25% win percentage but since then they're rarely not made the playoffs. Winning the WNBA finals in 2004 and 2010.</p> 
                </div>
            </div>

            <p>Something something, what happens next... The Knights already have an identity</p>
        </div>
    </div>
</div>