<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <p><span class='uit-drop'><span class='uit-drop__inner'>W</span></span>hether they bring the Stanley Cup back to The Strip or not, The Vegas Golden Knights have already exceeded any expectations of them. The NHL’s first expansion team since 2000 were already an intriguing story before a single face-off.</p>

            <p>The sports-starved city had been never gotten this close to a major sports team after broken promises of MLB and NBA sides. The closest they had gotten before was in 1983 when the Utah Jazz and Kareem Abdul-Jabbar came to town in an 11-game experiment, or cash grab if you’re feeling cynical.</p>

            <p>Since then Las Vegas has remained one of the largest cities in the United States to lack a major sports team. That was until this NHL season when the Golden Knights broke ice in the desert.  They won their first game against the Dallas Stars and to everyone’s surprise kept winning. Record after record for an expansion team fell. Vegas waited too long for a Big Four sport to not hit the ground running.</p>

            <h3 class='uit-subhead'>
                <span class='uit-subhead__inner'>How do the Knights compare to other hockey teams?</span>
            </h3>

            <p>Vivamus sagittis, diam in  lobortis, sapien arcu mattis erat, vel aliquet sem urna et risus. Ut feugiat sapien vitae mi elementum laoreet. Suspendisse potenti. Aliquam erat nisl, aliquam pretium libero aliquet, sagittis eleifend nunc. In hac habitasse platea dictumst. Integer turpis augue, tincidunt dignissim mauris id, rhoncus dapibus purus. Maecenas et enim odio.</p>

        </div>
    </div>
</div>