<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h1 class='uit-header__headline' itemprop='headline'>
                The Golden Knights are already the best expansion team, even if they lose the Stanley Cup final
            </h1>
            <p class='uit-header__standfirst' itemprop='description'>For Las Vegas, the Knights are the long awaited Big Four franchise, that was undeniably worth waiting for.</p>
            {{> partials/share }}
        </div>
    </div>
</div>