<div class='uit-header'>
    <div class='uit-container'>
        <h1 class='uit-header__headline uit-header__headline--start' itemprop='headline'>Started this season</h1>
        <img class='uit-header__image' src='@@assetPath@@/assets/images/vegas-team.png' />
        <h1 class='uit-header__headline uit-header__headline--end'>now we&rsquo;re here</h1>

        <div class='uit-content'>
            <p class='uit-header__standfirst' itemprop='description'>The Golden Knights record-breaking inaugural season has already made them the long-awaited major sports franchise worth waiting for. What ever happens in the Stanley Cup final is just extra.</p>
            {{> partials/share }}
        </div>
    </div>
</div>