<div class='uit-header'>
    <div class='uit-container'>
        <h1 class='uit-header__headline uit-header__headline--start' itemprop='headline'>Started this season</h1>
        <img class='uit-header__image' src='@@assetPath@@/assets/images/vegas-team.png' />
        <h1 class='uit-header__headline uit-header__headline--end'>now we&rsquo;re here*</h1>

        <h2 class='uit-header__headline-caption'>*The Stanley Cup final</h2>

        <div class='uit-content'>
            <p class='uit-header__standfirst' itemprop='description'>The Las Vegas Golden Knights’ record-breaking inaugural season has already made a sports team worth waiting for.<br /> by <a href='https://www.theguardian.com/profile/sam-morris'>Sam Morris</a></p>
            {{> partials/share }}
        </div>
    </div>
</div>