.uit-header {
    overflow: auto;
}

.uit-header__headline {
    margin: 0;
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    font-size: 9vw;
    line-height: .9;
    color: $c-blue;

    @include mq(tablet) {
        font-size: 58px;
    }

    @include mq(desktop) {
        font-size: 82px;
    }

    @include mq(leftCol) {
        font-size: 94px;
    }
}

.uit-header__headline--start {
    padding-top: 12px;

    @include mq(desktop) {
        padding-top: 24px;
    }
}

.uit-header__headline--end {
    text-align: right;
    padding-bottom: 24px;
}

.uit-header__headline-caption {
    font-family: 'Guardian Egyptian Web';
    color: $c-dark-blue;
    font-size: 18px;
    margin: 0;

    @include mq(leftCol) {
        margin-left: 140px;
    }

    @include mq(wide) {
        margin-left: 220px;
    }
}

.uit-header__image {
    width: 100%;
    max-width: 922px;
    margin-top: -5%;

    @include mq(tablet) {
        margin-top: -4%;
    }

    @include mq(desktop) {
        margin-top: -3.5%;
    }

    @include mq(leftCol) {
        margin-left: 140px;
    }

    @include mq(wide) {
        margin-left: 216px;
    }
}

.uit-header__standfirst {
    padding: 3px 0 0;
    font-family: 'Guardian Egyptian Web';
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;

    @include mq(tablet) {
        font-size: 24px;
    }
}

.uit-header__standfirst a {
    color: $c-blue;
    border-bottom: 1px solid $c-blue;

    &:hover {
        color: $c-dark-blue;
        text-decoration: none;
        border-bottom: 1px solid $c-dark-blue;
    }
}

.uit-header .uit-share {
    padding-bottom: 24px;
}